COMPOSE_PROJECT_NAME=org-system
TZ=Australia/Melbourne
CONFIG_SOURCE=env
UI_MODE=readonly
ORGSYS_DOMAIN=andrewjscott.net
TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443
ORG_CORE_PORT=8080
CONFIG_UI_PORT=3000
EINK_CLIENT_PORT=8090
POSTGRES_DB=orgsys
POSTGRES_USER=orgsys
POSTGRES_PASSWORD=change_me
N8N_HOST=n8n.localhost
N8N_PROTOCOL=http
N8N_PORT=5678
N8N_EDITOR_BASE_URL=http://localhost:5678
N8N_WEBHOOK_URL=https://andrewjscott.net
N8N_PROXY_HOPS=1
BARCODE_SHARED_SECRET=change_me
